body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:#202340;
    width:100%;
}

/* HEADER */
#navbar-div{
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    box-sizing: border-box;
}
#header-div .cross-div {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 7px;
    background-color: #f0f1f7;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}
#header-div .cross-div:hover {
    opacity: 0.5;
}
#header-div #cross-result{
    top: 5px;
    right: 20%;
    border: 0;
    display:none;
}
#category-div{
    margin: 0;
    width: 23%;
    height: 100vh;
    /* padding:20px; */
    background-color: white;
    /* position: relative; */
    position: fixed;
    top:0;
    left:-23%;
    overflow: auto;
    font-size: 14px;
    /* line-height: 1.6; */
    z-index: 6;
    display: none;


}
@keyframes slideInCategory {
    0%{
        transform:translate(0%);
    }
    100%{
        transform:translate(100%);
    }
}
@keyframes slideOutCategory {
    0%{
        transform:translate(100%);
    }
    100%{
        transform:translate(0%);
    }
}
@keyframes slideInSign {
    0%{
        transform:translate(0%);
    }
    100%{
        transform:translate(-100%);
    }
}
@keyframes slideOutSign {
    0%{
        transform:translate(-100%);
    }
    100%{
        transform:translate(0%);
    }
}
/* animation: 0.5s linear 0s 1 normal forwards running slideOutCategory; */
#category-div-1{
    margin: 0;
    width: 23%;
    height: 95vh;
    background-color: white;
    position: fixed;
    top:0;
    left:-23%;
    overflow: auto;
    font-size: 14px;
    /* line-height: 1.6; */
    z-index: 7;
    display: none;
    animation: 0.5s linear 0s 1 normal forwards running slideInCategory;

}
#category-div-1 .back{
    padding:20px 20px 30px;
}
#category-div-1 img{
    width:100%;
}
#category-div-1 .menu-head{
    font-weight: 700;
    font-size: 22px;
    padding: 15px 20px;
    border-top: 1px solid #d4d4d4;
    margin:0;
}
#category-div .menu-head{
    font-weight: 700;
    font-size: 22px;
    padding: 5px 20px 25px;
}
#category-div-1 .menu-subhead{
    font-weight: 700;
    font-size: 16px;
    padding: 13px 20px;
    margin:0;
}
#category-div .menu-subhead{
    font-weight: 700;
    font-size: 16px;
    padding: 13px 20px;
    margin:0;
    border-top: 1px solid #d4d4d4;
}
#category-div>p, #category-div-1>p, #navbar-div p {
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
}

#category-div .category-links, #category-div-1 .category-links {
    padding: 10px 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#category-div .category-links p, #category-div-1 .category-links p {
    margin: 0;
}

#category-div .category-links:hover, #category-div-1 .category-links:hover {
    background-color: #d4d4d4;
    color: #00a8ca;
}

#category-div>p:hover, #category-div-1>p:hover{
    background-color: #d4d4d4;
    color: #00a8ca;
}

#category-div #shop-logo, #category-div-1 #shop-logo {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
/* SIGNIN DIV */
/*sign-div*/
#sign-div{
    margin: 0;
    width: 23%;
    height: 100vh;
    /* padding:20px; */
    background-color: white;
    /* position: relative; */
    position: fixed;
    top:0;
    right:-23%;
    overflow: auto;
    font-size: 14px;
    /* line-height: 1.6; */
    z-index: 6;
    display: none;
    /* animation: 0.5s linear 0s 1 normal forwards running slideOutCategory; */
}
#sign-div .menu-head{
    font-weight: 700;
    font-size: 22px;
    padding: 5px 20px 25px;
}

#sign-div .menu-subhead{
    font-weight: 700;
    font-size: 16px;
    padding: 13px 20px;
    margin:0;
    border-top: 1px solid #d4d4d4;
}
#sign-div>p, #category-div-1>p, #navbar-div p {
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
}

#sign-div .category-links, #category-div-1 .category-links {
    padding: 10px 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#sign-div .category-links p, #category-div-1 .category-links p {
    margin: 0;
}

#sign-div .category-links:hover, #category-div-1 .category-links:hover {
    background-color: #d4d4d4;
    color: #00a8ca;
}

#sign-div>p:hover, #category-div-1>p:hover{
    background-color: #d4d4d4;
    color: #00a8ca;
}

#sign-div #shop-logo, #category-div-1 #shop-logo {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
/* NAVBAR */
#first{
    width: 100%;
    border: 1px solid black;
    background-color: #202340;
    color: white;
    margin:0;
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#first>p{
    margin:0;
    padding:7px 0;
    text-align: center;
}
#second{
    height: 60px;
    width: 100%;
    padding:10px 20px 0;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f1f7;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
#img1{
    height: 100%;
    /* margin-top: 15px; */
}
#img1 img{
    width:175px;
    height:45px;
}
/* #two{
   height: 50%;
   width: 3%;
   border: 1px solid black;

} */
#one{
    height: 90%;
    width: 50%;
    margin-left: 50px;
    border-radius: 30px;
    display: flex;
    border :1px solid #202340;
    background-color: white;
    position: relative;
 }

 #one1{
     height: 100%;
     width: 30%;
     border-right:1px solid black ;

     /* border: 1px solid red; */

 }
 #select{
     height: 100%;
     width: 100%;
     border-radius:30px;
     border: 0px;

 }
#search{
    height: 90%;
     width: 65%;
     /* border: 1px solid red; */
     /* position:relative */
}

#search1{
    height: 100%;
     width: 97%;
     border: 0px;
}

#search-result-div{
    width:90%;
    height:350px;
    overflow: auto;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: absolute;
    top:50px;
    left:40px;
    display:none;
    justify-content: space-between;
}
#search-result-div .search-subtitle{
    font-size: 14px;
    font-style: italic;
    margin:0;
    padding-left:5px;
}
#search-result-div>div:nth-child(1){
    width:50%;

}
#search-result-div>div:nth-child(2){
    width:50%;
    border-left: 1px solid #d4d4d4;
}
#suggestion-result{
    width:100%;
    margin:0;
    padding:5px 10px;
    background-color: white;
    color:#202340;
    font-size: 14px;
    font-weight:700;
    border-bottom:1px solid #d4d4d4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
    box-sizing: border-box;
}
#suggestion-result:hover{
    color:#00a8ca;
    background-color: #d4d4d4;
}
#search-result{
    width:100%;
    height:75px;
    padding: 5px 20px 5px 10px;
    margin:0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
    /* border-top:1px solid gray; */
    border-bottom:1px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    cursor: pointer;
}
#search-result:hover{
    color:#00a8ca;
    background-color: #d4d4d4;
}
#search-result>div:nth-child(1){
    width:30%;
}
#search-result>div:nth-child(2){
    width:66%;

}
#search-result img{
    max-width:100%;
    height:100%;
}
#icon{
    height: 100%;
    width: 20%;

/* border: 1px solid black; */


    /* border: 1px solid red; */
}
 #icon>button>i{
    color:white

}
#icon>button{
    height: 100%;
    width: 100%;
    background-color: #202340;
    border-radius: 0px 30px 30px 0px;
    border:0;
}

#three{
    height: 100%;
    margin-left:10px;

}
#three img{
    width:300px;
    height: 50px;
}

#third{
    width: 100%;
    /* border: 1px solid black; */
    padding:10px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0;
    background-color: #f0f1f7;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #202340;
    box-sizing: border-box;
    white-space: nowrap;
}
#threeOne p{
    padding:0;
}
#third p{
    cursor: pointer;
}
#third p:hover{
color:#00a8ca;
}
/* #threeOne{
    height: 100%;
} */
#threeTwo{
    /* border: 1px solid black; */
    display: flex;
    margin-left: 100px;
    justify-content: flex-start;
    align-items: center;
    gap:15px;
    color: #202340;
}

#threeTwo p{
    /* height:20px; */
    padding:0;
}
#threeTH{

    display: flex;
    justify-content: flex-start;
    /* width: 30%; */
    gap:25px;
    /* border: 1px solid grey; */
    margin-left: 100px;

}
#threeTH>div{
    cursor: pointer;
}
#threeTH>div:hover{
    color:#00a8ca;
}
#threeTH p{
    padding:0 ;
}
#ek, #do, #teen{
    display: flex;
    justify-content: flex-start;
    gap:5px;
}
/*#ek1{
    height: 30px;
    width: 30px;
}
#do{
    display: flex;
    justify-content: space-evenly;
}
#do1{
    height: 30px;
    width: 30px;

}
#teen{
    display: flex;
    justify-content: space-evenly;
}
#teen1{
    height: 30px;
    width: 30px;
} */

#navbar-div{
    margin:0;
    width:100%;
    box-sizing: border-box;
    position: fixed;
    top:0;
    z-index: 5;
}


/* CONTENT */
#content-div{
    position: relative;
    margin-top: 140px;
    /* padding-top:100px; */
    width:100%;
    background-color: #f0f1f7;
    box-sizing: border-box;
}


.content-div-1{
    width:100%;
    padding:0px 10px;
    margin:0;
    font-size: 12px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f1f7;
    box-sizing: border-box;
}
.content-div-2{
    width:100%;
    padding:0px 10px;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color: white;
    box-sizing: border-box;
}

.content-div-2>div:nth-child(1){
    color:#545871;
    font-size: 26px;
}
.content-div-2>div:nth-child(2){
    color:#545871;
    font-size: 13px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:4px;
}
.content-div-2>div:nth-child(2) img{
    width:30px;
    height:30px;
}
.content-div-2>div:nth-child(3)>button{
    color:#202340;
    background-color: white;
    border:1px solid #202340;
    font-size: 16px;
    font-weight: 700;
    padding:5px;
    margin:0;
}
.content-div-2>div:nth-child(3)>button:hover{
    color:white;
    background-color: #202340;
}
.content-div-3{
    width:100%;
    display:flex;
    justify-content: center;
    padding:10px 0;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
}
.content-div-3 img{
    height:300px;
    /* width:100%; */
    margin:0;
    padding:10px 0;
    box-sizing: border-box;
    background-color: white;
}
.content-div-4{
    background-color: #f0f1f7;
    width:100%;
    margin:0;
    padding:5px 10px;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap:10px;

}
.content-div-4>div{
    padding:5px;
    margin:0;
    box-sizing: border-box ;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.content-div-4>div>div:nth-child(1){
    font-size: 19px;

}
.content-div-4>div>div:nth-child(2){
    width:100%;
    height:65%;
}
.content-div-4>div>div:nth-child(2) img{
    height:100%;
    width:100%;

}
.content-div-4>div>div:nth-child(3){
    font-size: 14px;
    text-decoration: underline;
}
.content-div-5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-div-5 img{
    width:13%;
    margin:20px auto;

}
.content-div-6{
    background-color: white;
    width:95%;
    margin:10px auto;
    padding:10px 10px 20px;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap:20px;
}
.content-div-6 img{
    height:90%;
    width:100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.content-div-6 p{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin:2px;
}
.content-div-7{
    background-color: white;
    width:95%;
    margin:10px auto;
    padding:10px 80px;
    box-sizing: border-box;

}

.content-div-7>div{
    width:100%;
    margin:20px auto;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    gap:30px;
    box-sizing: border-box;
}
.content-div-7>div>div{
    height:200px;
}
.content-div-7 img{
    height:75%;
    width:90%;
    border-radius:100%;
    border:10px solid lightgray;
}
.content-div-7>div p{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin:2px;
}
.content-div-7>p{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 38px;
    margin:10px 0;
}
.content-div-8{
    background-color: white;
    width:95%;
    margin:10px auto;
    padding:10px 0 20px;
    box-sizing: border-box;
}
.A8{grid-area: AA;}
.B8{grid-area: BB;}
.C8{grid-area: CC;}

.content-div-8>div{
    width:90%;
    display:grid;
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1; */
    grid-template-areas:
    "AA BB CC";
    gap:50px;
    box-sizing: border-box;
    margin:0 auto;

}
.content-div-8>div>div>div:nth-child(1){
    display:flex;
    justify-content: center;
}
.content-div-8 img{
    height:90%;
    max-width:100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.content-div-8 p{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin:2px;
}


.content-div-9{
    background-color: white;
    width:95%;
    margin:10px auto;
    padding:10px 20px;
    box-sizing: border-box;

}
.A9{grid-area: A;}
.B9{grid-area: B;}
.C9{grid-area: C;}
.D9{grid-area: D;}
.E9{grid-area: E;}

.content-div-9>div{
    width:100%;
    margin:20px auto;
    display:grid;
    /* grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto; */
    grid-template-areas: "A B C D E";
    gap:20px;
    box-sizing: border-box;
}
.content-div-9>div>div{
    height:300px;
}
.content-div-8>div>div>div:nth-child(1){
    display:flex;
    justify-content: center;
}
.content-div-9 img{
    height:75%;
    max-width:100%;
    margin:0 auto;

}
.content-div-9>div p{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin:2px;
}
.content-div-9>p{
    text-align: center;
    font-size: 28px;
    margin:10px 0;
}
/* FOOTER */
#footer{
    position: relative;
    margin:0;
    width:100%;
    box-sizing: border-box;
}
/* FOOTER TOP */
#footer-top{
    margin:0;
    padding:10px 0;
    background-color: #545871;
    color:white;
}
#footer-top-1, #footer-top-2{
    margin:0;
    padding: 5px 10px;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 13px;
    font-weight: 700;
}
#footer-top-1-l, #footer-top-2-r{
    display: flex;
    justify-content: flex-start;
    gap:10px;
}
#footer-top-2-l{
    display: flex;
    justify-content: flex-start;

}
#footer-top-2-l p{
    margin:0;
    padding:0 5px;
    border-right: 1px solid white;
}
#footer-top-1-l>div:nth-child(2){
    display: flex;
    justify-content: flex-start;
    /* align-items: baseline; */
    height:25px;
    gap:0;
    margin:0;
    border-radius: 5px;
}
#footer-top-1-l input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    height:100%;
    margin:0;
    padding:0 10px;
    border:0;
    box-sizing: border-box;
}
#footer-top-1-l button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 700;
    background-color: #f0f1f7;
    border:0;
    margin:0;
    padding:0 10px;
    box-sizing: border-box;
    height:100%;
}
#footer-top-1-r{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 400px;
}

/* FOOTER MID */
#footer-mid{
    margin:0;
    padding:10px;
    background-color: #f0f1f7;
    color:#545871;
    border-bottom: 1px solid #c4c4c4;

}
#footer-mid>p{
    font-size: 11px;
    margin:5px 0;
}

#footer-mid-1{
    display: flex;
    justify-content: flex-start;
    margin:0;
}
#footer-mid-1 p{
    margin:0;
    padding:0 5px;
    border-right: 1px solid #545871;
    text-decoration: underline;
    font-size: 12px;
}
/* FOOTER-BOT */
#footer-bot{
    margin:0;
    background-color: #f0f1f7;
}
#footer-bot>div{
    width:100%;
    padding:10px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;

}
#footer-bot>div:nth-child(1)>div{
    width:7%;
}
#footer-bot>div:nth-child(2)>div{
    width:7%;
}
#footer-bot img{
    width:100%;
}


@media screen and (max-width:1024px) {

    #Signin,
    #Orders,
    #Cart, #depts, #shopL {
        display: none;
    }
#threeTH{
    gap:50px;
}
.content-div-7{
    padding: 10px 40px;
}
#one{
    width:70%;
}
#footer-top-1-l{
    display:none;
}
#footer-top-2-l{
    width:60%;
    white-space: nowrap;
    flex-wrap: wrap;
    overflow: visible;
}
    }
@media screen and (max-width:900px){

    #three,#threeTwo{
        display: none;
    }
    #footer-bot>div:nth-child(1)>div{
        width:10%;
    }
    .content-div-7>div{
        grid-template-columns: repeat(4,1fr);
    }
    .content-div-4, .content-div-6{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:768px){
    
    .content-div-7>div{
        grid-template-columns: repeat(3,1fr);
    }
    .content-div-7{
        padding: 10px 20px;
    }
    .content-div-9>div{
        /* grid-template-columns: repeat(3,1fr); */
        /* grid-auto-columns: minmax(repeat(2,1fr,repeat(3,1fr))); */
        grid-template-areas:
        "A A B B C C"
        "D D D E E E";

    }
    .content-div-8>div{
        grid-template-areas:
        "AA AA BB BB"
        "CC CC CC CC"
        ;
        grid-gap:10px;

    }
@media screen and (max-width:600px){
    #img1 img{
        width:50px;
        height:45px;
    }
    #one{
        width:90%;
    }
} 
}

